<p-table [value]="medicalRecordLogs">
  <ng-template pTemplate="header">
    <tr>
      <th>Age</th>
      <th>Time</th>
      <th>Heart beat</th>
      <th>Average heart beat</th>
      <th>Blood pressure</th>
      <th>Average blood pressure</th>
      <th>Body Temperature</th>
      <th>Vaccinated</th>
      <th>Surgery</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-log>
    <tr>
      <td>{{ log.age}}</td>
      <td>{{ log.time}}</td>
      <td>{{ log.heartBeat}}</td>
      <td>{{ log.averageHeartBeat}}</td>
      <td>{{ log.bloodPressure}}</td>
      <td>{{ log.averageBloodPressure}}</td>
      <td>{{ log.bodyTemperature}}</td>
      <td>{{ log.vaccinated}}</td>
      <td>{{ log.surgery}}</td>
    </tr>
  </ng-template>
</p-table>