<p-table [value]="certificates">
  <ng-template pTemplate="header">
      <tr>
          <th>Name</th>
          <th>Surname</th>
          <th>CountryCode</th>
          <th>Email</th>
          <th>Organization</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-certificate>
      <tr>
          <td>{{certificate.name}}</td>
          <td>{{certificate.surname}}</td>
          <td>{{certificate.countryCode}</td>
          <td>{{certificate.email}}</td>
          <td>{{certificate.organization}}</td>
      </tr>
  </ng-template>
</p-table>
