<p-card [style]="{'text-align':'center'}" >
  <ng-template pTemplate="header">
    <div class="p-grid p-justify-center">
      <h1>
        <strong>
          Service logs search
        </strong>
      </h1>
    </div>
  </ng-template>
  <form class="p-grid p-fluid" [formGroup]="form" (ngSubmit)="search()" class="center">
    <div class="p-col-12 p-md-8">
      <p-card class="p-col-12 p-md-12">
        <div class="form-group p-grid p-fluid">
          <div class="p-float-label p-col-12 p-md-2"></div>
          <div class="p-float-label p-col-12 p-md-2">
            <input id="destIp" type="text" autocomplete="off" pInputText formControlName="sourceIp" class="form-control"
              placeholder="Source IP" [ngClass]="{ 'is-invalid': submitted && f.destIp.errors }" />
          </div>
          <div class="p-float-label p-col-12 p-md-1"></div>
          <div class="p-float-label p-col-12 p-md-2">
            <input id="destIp" type="text" autocomplete="off" pInputText formControlName="destIp" class="form-control"
              placeholder="Destination IP" [ngClass]="{ 'is-invalid': submitted && f.destIp.errors }" />
          </div>
          <div class="p-float-label p-col-12 p-md-1"></div>
          <div class="p-float-label p-col-12 p-md-2">
            <input id="path" type="text" autocomplete="off" pInputText formControlName="path" class="form-control"
              placeholder="Path" [ngClass]="{ 'is-invalid': submitted && f.path.errors }" />
          </div>
          <div class="p-float-label p-col-12 p-md-2"></div>
          <div class="p-float-label p-col-12 p-md-2"></div>
          <div class="p-float-label p-col-12 p-md-2">
            <input id="protocol" type="text" autocomplete="off" pInputText formControlName="protocol" class="form-control"
              placeholder="Protocol" [ngClass]="{ 'is-invalid': submitted && f.protocol.errors }" />
          </div>
          <div class="p-float-label p-col-12 p-md-1"></div>
          <div class="p-float-label p-col-12 p-md-2">
            <input (keypress)="numberOnly($event)" type="number" id="status" autocomplete="off" pInputText
              formControlName="status" placeholder="Status" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.status.errors }" />
          </div>
          <div class="p-float-label p-col-12 p-md-1"></div>
          <div class="p-float-label p-col-12 p-md-2">
            <p-calendar formControlName="time" class="form-control" placeholder="Time"></p-calendar>
          </div>
        </div>
        <div class="p-float-label p-col-12 p-md-12"></div>
        <div class="form-group p-grid p-fluid">
          <div class="p-float-label p-col-12 p-md-8"></div>
          <div class="p-float-label p-col-12 p-md-1">
            <button id="search" type="submit" class="p-button-rounded" label="Search" pButton></button>
          </div>
          <div class="p-float-label p-col-12 p-md-1">
            <button id="search" class="p-button-rounded p-button-danger" label="Reset" pButton
              (click)="removeFormInputs()"></button>
          </div>
        </div>
      </p-card>
    </div>
  </form>
  <div class="center">
    <div class="p-col-12 p-md-9">
      <p-card class="p-col-12 p-md-12">
        <div class="p-grid p-fluid">
          <p-table [value]="serviceLogs">
            <ng-template pTemplate="header">
              <tr>
                <th>Source IP</th>
                <th>Destination IP</th>
                <th>Path</th>
                <th>Protocol</th>
                <th>Status</th>
                <th>Packet size</th>
                <th>Type</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-log>
              <tr>
                <td>{{ log.sourceIp}}</td>
                <td>{{ log.destIp}}</td>
                <td>{{ log.path}}</td>
                <td>{{ log.protocol}}</td>
                <td>{{ log.status}}</td>
                <td>{{ log.packetSize}} bytes</td>
                <td>{{ log.type}}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </p-card>
    </div>
  </div>
</p-card>
