<p-card header="Write new rule">


  <div ace-editor
        id="editor-id"
        [(text)]="ruleData.content"
        #editor style="height:350px;"
        [options]="options"
  ></div>

  <ng-template pTemplate="footer">
    <button pButton color="primary"  class="p-button-rounded" label="Get rule template" (click)="getTemplate($event)"></button>
    <button [disabled]="ruleData.content==''" id="send-csr" type="primary" class="p-button-rounded" label="Send" pButton (click)="onSubmit()"></button>
  </ng-template>
</p-card>
